<div class="audio">
    <div class="lay"></div>
    <audio src="##" id="audio"></audio>
    <div class="top">
        <a href="">
             <span class="return">
                <
            </span>
        </a>
        <p>
            <span id="music_name"></span><br/>
            <span id="music_artist"></span>
        </p>
    </div>
    <div class="pic">
        <img src="images/stick_bg.png" alt="">
        <div class="rotation">
            <img src="images/cd_wrapper.png" alt="加载失败"/>
            <img src="images/rage_loading.png" alt="加载失败" class="rotationpic"/>
        </div>
    </div>
    <div class="picWrap">
        <img src="" alt="加载失败"/>
    </div>
    <div id="music_state">歌曲正在加载...</div>
    <div class="bot">
        <div class="prev"></div>
        <div id="btn" class="play"></div>
        <div class="next"></div>
    </div>
</div>
