 <div class="detail">
     <div id="prev">
         <a href="" onclick="getUrl('tab')">
            <span><&nbsp;&nbsp;返回</span>
         </a>
     </div>
     <div class="top">
         <div class="wrap">
             <img src="" alt="加载失败">
             <p></p>
         </div>

         <div class="lay"></div>
     </div>
     <ol class="musiclists">

     </ol>
     <div class="playitems" style="display: none">
         <li>
             <p class="name"></p>
             <p class="artical"></p>
             <span class="no"></span>
         </li>
     </div>
 </div>


