<div class="home">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="auto" src="images/banner1.jpg" /></div>
            <div class="swiper-slide"><img class="auto" src="images/banner2.jpg" /></div>
            <div class="swiper-slide"><img class="auto" src="images/banner3.jpg" /></div>
            <div class="swiper-slide"><img class="auto" src="images/banner4.jpg" /></div>
        </div>
     </div>
    <p>推荐歌单
        <span>更多</span>
    </p>
    <div class="songlist">

    </div>
    <div class="itemwrap" style="display: none">
        <div class="item">
            <a href="##" onclick="getUrl('detail')">
                <img src="images/rage_loading.png" alt="正在加载中"/>
                <p>正在加载...</p>
            </a>
        </div>
    </div>
    <div class="itemwrap1">
        <div class="item">
            <a href="##" onclick="getUrl('detail')">
                <img src="images/rage_loading.png" alt="正在加载中" id="loading"/>
                <p>正在加载...</p>
            </a>
        </div>
    </div>
</div>